# See https://git-scm.com/docs/gitattributes for more about git attribute files.

# Mark the database schema as having been generated.
db/schema.rb linguist-generated

# Mark any vendored files as having been vendored.
vendor/* linguist-vendored
config/credentials/*.yml.enc diff=rails_credentials
config/credentials.yml.enc diff=rails_credentials

# Force ERB templates to count as Ruby statistics
*.html.erb linguist-language=Ruby

# Exclude compiled assets and public files from language stats
public/* linguist-vendored
app/assets/builds/* linguist-vendored
app/assets/config/* linguist-vendored

# Optional: If you want to reduce CSS count further
# app/assets/stylesheets/* linguist-vendored
